<% if notice %>
  <aside><%= notice %></aside>
<% end %>

<h1>Player Directory</h1>
<ul class="directory">
<% cache @users do %>
  <% @users.each do |user| %>
    <% cache user do %>
      <li>
        <%= image_tag user.avatar_url %>
        <h2><%= user.name %></h2>
      </li>
    <% end %>
  <% end %>
<% end %>
</ul>

